cfflib/schema/connectome.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema elementFormDefault="qualified"
	targetNamespace="http://www.connectomics.org/cff-2"
    xmlns:cml="http://www.connectomics.org/cff-2"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:dcterms="http://purl.org/dc/terms/">

<xsd:import namespace="http://purl.org/dc/terms/" 
        schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dcterms.xsd"/>

<xsd:annotation xml:lang="en">
    <xsd:documentation>
    Connectome File Markup, Version 2.0
    Created 17-01-2011 by Stephan Gerhard (connectome@unidesign.ch)
    Updated 9-03-2011 by Stephan Gerhard (connectome@unidesign.ch)
    </xsd:documentation>
</xsd:annotation>

<!-- odML schema parts (http://www.g-node.org/odml) -->

<xsd:element name ="property">
  <xsd:complexType>
  <xsd:choice minOccurs="0" maxOccurs="unbounded">
  <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
  <xsd:element name="value" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  <xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  <xsd:element name="uncertainty" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  <xsd:element name="unit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:choice>
  </xsd:complexType>
</xsd:element>


<xsd:complexType name="section" mixed="false" >
  <xsd:choice minOccurs="0" maxOccurs="unbounded">
    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    <xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    <xsd:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:choice>
  <xsd:attribute name="title" type="xsd:string" use="required"></xsd:attribute>
</xsd:complexType>


<!-- end odML schema parts -->

<xsd:complexType name="metadata">

  <xsd:sequence>
  
    <xsd:element maxOccurs="unbounded" minOccurs="0" name="tag">  
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      A tag element contains a key attribute and the value
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
            <xsd:attribute name="key" type="xsd:string">
            <xsd:annotation xml:lang="en">
              <xsd:documentation>
              The key to be used later in the dictionary
              </xsd:documentation>
            </xsd:annotation>
            </xsd:attribute>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
    
    </xsd:element>
    
   <xsd:element minOccurs="0" maxOccurs="unbounded" name="section" type="section">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      An odML section containing properties
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>  
    
  </xsd:sequence>

</xsd:complexType>

<xsd:simpleType name="networkFileFormat">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="GraphML"/>
    <xsd:enumeration value="GEXF"/>
    <xsd:enumeration value="NXGPickle"/>
    <xsd:enumeration value="Other"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="volumeFileFormat">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Nifti1"/>
        <xsd:enumeration value="Other"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="surfaceFileFormat">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Gifti"/>
		<xsd:enumeration value="Other"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="dataFileFormat">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="NumPy"/>
    <xsd:enumeration value="HDF5"/>
    <xsd:enumeration value="XML"/>
    <xsd:enumeration value="JSON"/>
    <xsd:enumeration value="CSV"/>
    <xsd:enumeration value="Pickle"/>
    <xsd:enumeration value="Other"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="timeserieFileFormat">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="HDF5"/>
    <xsd:enumeration value="NumPy"/>
    <xsd:enumeration value="Other"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="trackFileFormat">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="TrackVis"/>
    <xsd:enumeration value="Other"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="imagestackFileFormat">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="PNG"/>
    <xsd:enumeration value="JPG"/>
    <xsd:enumeration value="TIFF"/>
    <xsd:enumeration value="SVG"/>
    <xsd:enumeration value="Other"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="scriptFileFormat">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="ASCII"/>
    <xsd:enumeration value="UTF-8"/>
    <xsd:enumeration value="UTF-16"/>
    <xsd:enumeration value="Other"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="networkEnumDType">
	<xsd:restriction base="xsd:string">
	  <xsd:whiteSpace value="collapse"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="volumeEnumDType">
  <xsd:restriction base="xsd:string">
    <xsd:whiteSpace value="collapse"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="surfaceEnumDType">
  <xsd:restriction base="xsd:string">
    <xsd:whiteSpace value="collapse"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="scriptEnumType">
	<xsd:restriction base="xsd:string">
	 <xsd:whiteSpace value="collapse"/>
	</xsd:restriction>
</xsd:simpleType>


<xsd:element name="connectome">
  <xsd:complexType>
    <xsd:sequence>
      
      <xsd:element maxOccurs="1" minOccurs="1" name="connectome-meta" type="CMetadata">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        Connectome File Metadata
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-network" type="CNetwork">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of networks. They can reference objects of type CVolume, CSurface, CTrack, CTimeseries, CImagestack and/or CData.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>

      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-surface" type="CSurface">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of surfaces. Surface sources are in Gifti format, and can define labels.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>

      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-volume" type="CVolume">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of volumes. Volume sources are in Nifti1 format, and can also define segmentations.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>

      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-track" type="CTrack">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of track files. Track sources are in TrackVis format, and can also contain data.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-timeseries" type="CTimeseries">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of timeserie files. The timeseries files are defined using the HDF5 format.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-data" type="CData">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of data files. Data files can store arbitrary data.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>  
      
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-script" type="CScript">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of scripts. Scripts are represented by executable text files.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-imagestack" type="CImagestack">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of image stacks. Image stacks represent an enumerated list of 2d images.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>  

   </xsd:sequence>
  </xsd:complexType>
  
</xsd:element>

<xsd:complexType name="CMetadata">

  <xsd:sequence>

    <!-- this sequance should refrence ref="dcterms:title", but we do not
    want the generateDS to create objects here -->
   <xsd:element minOccurs="1" name="dcterms:title" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Title of the connectome resource
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>


   <xsd:element minOccurs="1" name="dcterms:creator" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Author(s) of the data
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
    
   <xsd:element minOccurs="1" name="dcterms:publisher" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Institution/Organisation the data was generated or the authors are associated with
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>

   <xsd:element minOccurs="1" name="dcterms:created" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      When was the file created? YYYY-MM-DD
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
    
   <xsd:element minOccurs="1" name="dcterms:modified" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      When was the file modified? YYYY-MM-DD
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>

   <xsd:element minOccurs="0" name="dcterms:rights" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Information about rights held in and over the resource such as copyrights.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
         
   <xsd:element minOccurs="0" name="dcterms:license" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The license of the data
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
    
   <xsd:element minOccurs="0" name="dcterms:references" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      References to the paper where the data has been published.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
    
   <xsd:element minOccurs="0" name="dcterms:relation" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      A related resource. References to URL with further information or download location.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
    
   <xsd:element minOccurs="0" name="dcterms:description" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      A connectome file wide description
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>

   <xsd:element minOccurs="1" name="generator" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      software version/converter this file was generated with
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
   <xsd:element minOccurs="1" name="species" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      species name according to the internationally used binomial nomenclature.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
    
   <xsd:element minOccurs="0" name="email" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      E-Mail for contact related to the dataset
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>

    <xsd:element maxOccurs="1" minOccurs="0" name="metadata" type="metadata">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Any metadata that does not fit the predefined tags can be accomodated using the flexible schema of a key-value pair.
      </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    
  </xsd:sequence>
  
   <xsd:attribute name="version" type="xsd:string" use="required">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Defines the version of the Connectome Schema Definition the current Connectome File is compatible with. Should be 2.0
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
</xsd:complexType>  


<xsd:complexType name="CNetwork">

  <xsd:sequence>

          <xsd:element maxOccurs="1" minOccurs="0" name="metadata" type="metadata">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            Often, there is particular metadata for networks one wants to use for later processing. For example one can annotate networks that represent subjects with
            information about being member of the control or test group. The very flexible schema of a dictionary (key/value pairs) is adopted to represent any kind of
            metadata. The values are strings.
           </xsd:documentation>
          </xsd:annotation>
          </xsd:element>

	    <xsd:element maxOccurs="1" minOccurs="0" name="dcterms:description" type="xsd:string">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     </xsd:element>

  </xsd:sequence>

  
    <xsd:attribute name="name" type="xsd:string" use="required">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The short name of the network
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute default="GraphML" name="fileformat" type="networkFileFormat">
    <xsd:annotation xml:lang="en">
	<xsd:documentation>
	Is the network stored it "GEXF" or "GraphML" format, "NXGPickle" as NetworkX pickled object,
	or "Other" format?
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute default="AttributeNetwork" name="dtype" type="networkEnumDType">
    <xsd:annotation xml:lang="en">
	<xsd:documentation>
	- dtype="AttributeNetwork"
	A network with arbitrary number of attributes for nodes and edges.
	- dtype="DynamicNetwork"
	Network with either with lifespan attributes for nodes and edges (See GEXF)
	or timeseries on nodes and edges.
	- dtype="HierarchicalNetwork"
	Network with hierarchical structure.
  - dtype="StructuralNetwork"
  A structural network e.g. derived from Diffusion MRI
  - dtype="FunctionalNetwork"
  Networks derived from functional measures such as EEG/MEG/fMRI/PET etc.
  - dtype="EffectiveNetwork"
  Networks representing effective connectivity
	- dtype="Other"
	Other kind of network.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
</xsd:complexType>


<xsd:complexType name="CSurface">
    <xsd:all>
	    <xsd:element minOccurs="0" name="dcterms:description" type="xsd:string">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     </xsd:element>
	    
          <xsd:element name="metadata" type="metadata">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            More metadata
           </xsd:documentation>
          </xsd:annotation>
          </xsd:element>
	    
    </xsd:all>

    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Descriptive name of the surface.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="fileformat" type="surfaceFileFormat">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Set to "gifti" to use the only supported Gifti format by cfflib.
      See http://www.nitrc.org/frs/download.php/158/gifti.xsd for schema information
      
      Use "Other" for other formats with custom IO Handling
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute default="Surfaceset" name="dtype" type="surfaceEnumDType">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      What type of surface does the Gifti file contain:
      - type="Labeling"
      The Gifti file contains surface labels. This file can be referenced
      in connectome-network with either the name attribute or in addition to another
      surface defined by name and using the labelname attribute and matching labelid. If
      referenced in such a way, the networks' nodes attribute dn_intensityvalue value
      may match the label array integers, thereby relating a network node to a surface
      patch (a region of interest defined on the surface). See also example datasets.
      - type="Surfaceset"
      The Gifti file contains a set of surfaces where the metadata tag AnatomicalStructurePrimary match.
      Individual elements of the set are distinguished by the metadta tag AnatomicalStructureSecondary.
      The Gifti file contains information about the coordinate system used.
      - type="Surfaceset+Labeling"
      If the Gifti file contains data as described for both surfaceset and label above.
      - type="Other"
      Any other kind of data storable in a Gifti file.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
</xsd:complexType>


<xsd:complexType name="CVolume">
     <xsd:all>
	    <xsd:element minOccurs="0" name="dcterms:description" type="xsd:string">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     </xsd:element>
	    
          <xsd:element name="metadata" type="metadata">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            More metadata
           </xsd:documentation>
          </xsd:annotation>
          </xsd:element>
	    
    </xsd:all>
    
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Name of the volume.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute default="Nifti1" name="fileformat" type="volumeFileFormat">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Set to "Nifti1" to use the only supported Nifti format. This works also
      for compressed files with name ending .nii.gz
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="dtype" type="volumeEnumDType">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The Nifti file contains information about the coordinate system used.
      Set type of volume the Nifti file contains:
      - type="Segmentation"
      The Nifti file contains a single volume where the voxel values are integers,
      representing a segmented Region of Interest. If this volume is referenced by
      a connectome-network, its nodes dn_intensityvalue attribute may match these
      integer values. Such a segmentation volume can referenced in a connectome-volume
      by the segmentationname attribute in addition to another, e.g. T1-weighted volume
      which is referenced by the name attribute. See also example datasets.
      - type="T1-weighted"
      The Nifti file contains a T1-weighted volume.
      - type="T2-weighted"
      The Nifti file contains a T2-weighted volume.
      - type="PD-weighted"
      The voxel values represent a proton-density weighted signal.
      - type="fMRI"
      The Nifti file contains functional MRI time series data.
      - type="Probabilitymap"
      Voxel values are in the range [0,1]. Can stand for tissue probability maps.
      - type="MD"
      Diffusion-related signal. Stands for mean diffusivity.
      - type="FA"
      Diffusion-related signal. Stands for fractional anisotropy.
      - type="LD"
      Diffusion-related signal. Stands for longitudinal diffusivity.
      - type="TD"
      Diffusion-related signal. Stands for transversal diffusivity.
      - type="FLAIR"
      Stands for Fluid attenuated inversion recovery 
      - type="MRA"
      Stands for Magnetic resonance angiography
      - type="MRS"
      Stands for Magnetic resonance spectroscopy
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
 
</xsd:complexType>


<xsd:complexType name="CTrack">

  <xsd:all>
	    <xsd:element minOccurs="0" name="dcterms:description" type="xsd:string">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     </xsd:element>
	    
          <xsd:element name="metadata" type="metadata">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            More metadata
           </xsd:documentation>
          </xsd:annotation>
          </xsd:element>

	    
  </xsd:all>
  
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Name of the track file.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute default="TrackVis" name="fileformat" type="trackFileFormat">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Set to "TrackVis" (default) to use the only supported TrackVis file format.
      The TrackVis file format allows to store any number of additional numerical
      data on the individual fibers.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="dtype" type="xsd:string"></xsd:attribute>
    
</xsd:complexType>

<xsd:complexType name="CTimeseries">

  <xsd:all>
	    <xsd:element minOccurs="0" name="dcterms:description" type="xsd:string">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     </xsd:element>
	    
          <xsd:element name="metadata" type="metadata">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            More metadata
           </xsd:documentation>
          </xsd:annotation>
          </xsd:element>
	    
  </xsd:all>
  
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Name of the timeseries.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute default="HDF5" name="fileformat" type="timeserieFileFormat">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Set to "HDF5" (default) to use the only supported Hierarchical Data File format.
      The HDF5 allows to store any number of time series or other large homogeneous data.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="dtype" type="xsd:string"></xsd:attribute>
    
</xsd:complexType>


<xsd:complexType name="CData">

  <xsd:all>
	    <xsd:element minOccurs="0" name="dcterms:description" type="xsd:string">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     </xsd:element>
	    
          <xsd:element name="metadata" type="metadata">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            More metadata
           </xsd:documentation>
          </xsd:annotation>
          </xsd:element>
	    
  </xsd:all>
  
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Name of the data file
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="fileformat" type="dataFileFormat">
    <xsd:annotation xml:lang="en">
       <xsd:documentation>
	Use one of 'NumPy', 'HDF5', 'XML', 'Other'
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="dtype" type="xsd:string"></xsd:attribute>
    
</xsd:complexType>


<xsd:complexType name="CScript">

  <xsd:all>
	    <xsd:element minOccurs="0" name="dcterms:description" type="xsd:string">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     </xsd:element>
	    
          <xsd:element name="metadata" type="metadata">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            More metadata
           </xsd:documentation>
          </xsd:annotation>
          </xsd:element>
	    
  </xsd:all>
  
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Name of the script file
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute default="UTF-8" name="fileformat" type="scriptFileFormat">
    </xsd:attribute>
       
    <xsd:attribute default="Python" name="dtype" type="scriptEnumType">
    <xsd:annotation xml:lang="en">
       <xsd:documentation>
	What kind of script. Use one of "Python" (default), "Bash", "Matlab",
	or "Other".
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
</xsd:complexType>


<xsd:complexType name="CImagestack">

  <xsd:all>
	    <xsd:element minOccurs="0" name="dcterms:description" type="xsd:string">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     </xsd:element>
	    
          <xsd:element name="metadata" type="metadata">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            More metadata. Following keys are proposed to position the image
	    stack sensibly in 3D.
	    location : x,y,z
		The location of the left-bottom pixel of the first stack in
		the image stack
	    orientation_x : x,y,z
		Unit length vector pointing in the positive x direction
	    orientation_y : x,y,z
		Unit length vector pointing in the positive y direction
		Should be orthogonal to orientation_x
	    orientation_z : x,y,z
		Unit length vector pointing in the positive z direction
		Should be orthogonal to orientation_x and orientation_y
	    coordsystem : "RAS"
		"RAS" means for x-axes: left-right, y-axes: anterior-posterior,
		z-axes: superior-inferior. Right, Anterior, Posterior denotes
		the positive axes direction.
	    pixelsize : x,y,z
		The actual extent of the pixel in the three dimensional euclidean
		metric space given in nanometer "nm", micrometer "um" or milimeter "mm"
		Example: 1 mm, 1 mm, 2 mm
           </xsd:documentation>
          </xsd:annotation>
          </xsd:element>
	    
  </xsd:all>
  
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Name of the image stack
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the enumerated files according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="pattern" type="xsd:string">
    <xsd:annotation xml:lang="en">
	<xsd:documentation>
	The file name pattern that may contain simple shell-style wildcards a la fnmatch.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="fileformat" type="imagestackFileFormat">
    <xsd:annotation xml:lang="en">
       <xsd:documentation>
	Use one of 'PNG', 'JPG', 'TIFF', 'Other'
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
</xsd:complexType>


</xsd:schema>
