schema/connectome.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.connectomics.ch/2010/Connectome/xmlns" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.connectomics.ch/2010/Connectome/xmlns">

<xsd:annotation xml:lang="en">
    <xsd:documentation>
    Stephan Gerhard, Version 2.0
    </xsd:documentation>
</xsd:annotation>

<xsd:simpleType name="volumeEnumDType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="segmentation"/>
		<xsd:enumeration value="T1-weighted"/>
		<xsd:enumeration value="T2-weighted"/>
		<xsd:enumeration value="PD-weighted"/>
		<xsd:enumeration value="fMRI"/>
		<xsd:enumeration value="probabilitymap"/>
		<xsd:enumeration value="MD"/>
		<xsd:enumeration value="FA"/>
		<xsd:enumeration value="LD"/>
		<xsd:enumeration value="TD"/>
		<xsd:enumeration value="FLAIR"/>
		<xsd:enumeration value="MRA"/>
		<xsd:enumeration value="MRS"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="volumeFileFormat">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Nifti1"/>
		<xsd:enumeration value="ANALYZE"/>
		<xsd:enumeration value="DICOM"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="surfaceEnumDType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="label"/>
		<xsd:enumeration value="surfaceset"/>
		<xsd:enumeration value="surfaceset+label"/>
		<xsd:enumeration value="Other"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="surfaceFileFormat">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Gifti"/>
		<xsd:enumeration value="Other"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="networkEnumDType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="AttributeNetwork"/>
		<xsd:enumeration value="DynamicNetwork"/>
		<xsd:enumeration value="HierarchicalNetwork"/>
		<xsd:enumeration value="Other"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="networkFileFormat">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="GEXF"/>
		<xsd:enumeration value="GraphML"/>
		<xsd:enumeration value="Other"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="locationEnumType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="zippath"/>
		<xsd:enumeration value="filesystem"/>
		<xsd:enumeration value="URL"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="scriptEnumType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Python"/>
		<xsd:enumeration value="Bash"/>
		<xsd:enumeration value="Matlab"/>
		<xsd:enumeration value="Other"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="dataFileFormat">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="NumPy"/>
		<xsd:enumeration value="HDF5"/>
		<xsd:enumeration value="XML"/>
		<xsd:enumeration value="Other"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="timeserieFileFormat">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="HDF5"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="trackFileFormat">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="TrackVis"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="descriptionFormat">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="plaintxt"/>
		<xsd:enumeration value="rst"/>
		<xsd:enumeration value="HTML"/>
	</xsd:restriction>
</xsd:simpleType>


<xsd:element name="connectome">
  <xsd:complexType>
    <xsd:sequence>
      
      <xsd:element maxOccurs="1" minOccurs="1" name="connectome-meta" type="CMetadata">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        Connectome File Metadata
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-network" type="CNetwork">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of networks. They can reference objects of type CVolume, CSurface, CTrack, CTimeserie and/or CData.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>

      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-surface" type="CSurface">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of surfaces. Surface sources are in Gifti format, and can define labels.
        Networks can reference to the surface using the name attribute.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>

      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-volume" type="CVolume">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of volumes. Volume sources are in Nifti format, and can also define segmentations.
        Networks can reference to the volume using the name attribute.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>

      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-track" type="CTrack">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of track files. Track sources are in TrackVis format, and can also contain data.
        Networks can reference to the track file using the name attribute.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-timeserie" type="CTimeserie">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of timeserie files. The timeseries files are defined using the HDF format.
	Networks can reference to the timeseries file using the name attribute.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-data" type="CData">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of data files. Data files can store arbitrary data.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>  
      
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="connectome-script" type="CScript">
      <xsd:annotation xml:lang="en">
        <xsd:documentation>
        A list of scripts. Scripts are represented by executable text files.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>  

   </xsd:sequence>
  </xsd:complexType>
  
</xsd:element>

<xsd:complexType name="CMetadata">
  <xsd:sequence>
   <xsd:element minOccurs="1" name="generator" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Software version/Converter etc. this file was generated with
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
   <xsd:element minOccurs="1" name="initial-creator" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Author(s) of the data
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
   
   <xsd:element minOccurs="1" name="institution" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Institution/Organisation the data was generated or the authors are associated with
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
    
   <xsd:element minOccurs="1" name="creation-date" type="xsd:date">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      When was the file created? YYYY-M-DD
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
    
   <xsd:element minOccurs="1" name="modification-date" type="xsd:date">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      When was the file modified? YYYY-M-DD
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>

   <xsd:element minOccurs="1" name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Short name of this Connectome File?
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>    
    
   <xsd:element minOccurs="1" name="species" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      From which species is the data?
      According to the internationally used binomial nomenclature.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
    
   <xsd:element minOccurs="0" name="legal-notice" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Legal notice concerning usage rights for the data.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
    
   <xsd:element minOccurs="0" name="reference" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      References to the paper where the data has been published.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
    
   <xsd:element minOccurs="0" name="email" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      E-Mail for contact related to the dataset.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
    
   <xsd:element minOccurs="0" name="url" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      References to URL with further information or download location.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:element>
    
   <xsd:element minOccurs="0" name="description">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      A description according to the format attribute syntax.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
    <xsd:simpleContent>
     <xsd:extension base="xsd:string">
	<xsd:attribute name="format" type="descriptionFormat"/>
     </xsd:extension>
    </xsd:simpleContent>
    </xsd:complexType>
    </xsd:element>

    <xsd:element maxOccurs="1" minOccurs="0" name="metadata" type="Metadata">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
          If one has any kind of metadata that might be relevant for later processing, and it is not possible to annotate the
          metadata directly to networks with the network-metadata tag, it can be specified here. An example would be demographic
          data about subjects, and any data that does not fit the predefined tags in connectome-meta. See also example datasets.
          The very flexible schema of a dictionary (key/value pairs) is adopted to represent any kind of metadata. The values are strings.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    
  </xsd:sequence>
  
   <xsd:attribute name="version" type="xsd:string" use="required">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Defines the version of the Connectome Schema Definition the current Connectome File is compatible with. Should be 2.0
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
</xsd:complexType>  


<xsd:complexType name="CNetwork">

  <xsd:sequence>

          <xsd:element maxOccurs="1" minOccurs="0" name="network-metadata" type="Metadata">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            Often, there is particular metadata for networks one wants to use for later processing. For example one can annotate networks that represent subjects with
            information about being member of the control or test group. The very flexible schema of a dictionary (key/value pairs) is adopted to represent any kind of
            metadata. The values are strings.
           </xsd:documentation>
          </xsd:annotation>
          </xsd:element>


          <xsd:element maxOccurs="unbounded" minOccurs="0" name="network-surface" type="NetworkSurface">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            Reference to the connectome-surface using the name attribute. The surface file must exist.
            A labeling of the surface can be specified using labelname refering to a connectome-surface of dtype label with labelid, refering to the metatag in the Gifti file.
            </xsd:documentation>
          </xsd:annotation>
          </xsd:element>

          
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="network-volume" type="NetworkVolume">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            Reference to the connectome-volume using the name attribute. The volume file must exist.
            A segmentation of a particular volume can be specified using segmentationname refering to a connectome-volume of dtype segmentation
            in addition to the reference with the name attribute to e.g. a T1-weighted volume. The voxel dimensions have to match.
            The networks' node attribute dn_intensityvalue value must be consistent with the voxel intensityvalues in the segmentation volumes.
            </xsd:documentation>
          </xsd:annotation>
          </xsd:element>
       
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="network-track" type="NetworkTrack">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            Reference to the connectome-track using the name attribute. The track file must exist.
            </xsd:documentation>
          </xsd:annotation>
          </xsd:element>

          <xsd:element maxOccurs="unbounded" minOccurs="0" name="network-timeserie" type="NetworkTimeserie">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            Reference to the connectome-timeserie using the name attribute. The timeserie file must exist.
            </xsd:documentation>
          </xsd:annotation>
          </xsd:element>
	  
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="network-data" type="NetworkData">
          <xsd:annotation xml:lang="en">
            <xsd:documentation>
            Reference to the connectome-data using the name attribute. The data file must exist.
            </xsd:documentation>
          </xsd:annotation>
          </xsd:element>

	    <xsd:element maxOccurs="1" minOccurs="0" name="description">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     <xsd:complexType>
	     <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
		 <xsd:attribute name="format" type="descriptionFormat"/>
	      </xsd:extension>
	     </xsd:simpleContent>
	     </xsd:complexType>
	     </xsd:element>


  </xsd:sequence>
  
  
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The short name of the network
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="location" type="locationEnumType" default="zippath">
    <xsd:annotation xml:lang="en">
	<xsd:documentation>
	Location either in the ZIP file ("zippath", default),
	the "filesystem" or an "URL.		
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="fileformat" type="networkFileFormat" default="GEXF">
    <xsd:annotation xml:lang="en">
	<xsd:documentation>
	Is the network stored it "GEXF" or "GraphML" format, or "Other" format
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="dtype" type="networkEnumDType" default="AttributeNetwork">
    <xsd:annotation xml:lang="en">
	<xsd:documentation>
	- dtype="AttributeNetwork"
	A network with arbitrary number of attributes for nodes and edges.
	- dtype="DynamicNetwork"
	Network with either with lifespan attributes for nodes and edges (See GEXF)
	or timeseries on nodes and edges.
	- dtype="HierarchicalNetwork"
	Network with hierarchical structure.
	- dtype="Other"
	Other kind of network.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="edgeless" type="xsd:boolean" default="0">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      If true, the network contains no edges. Usually used for structured
      node-based data representation.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
</xsd:complexType>


<xsd:complexType name="CSurface">
    <xsd:all>
	    <xsd:element minOccurs="0" name="description">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     <xsd:complexType>
	     <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
		 <xsd:attribute name="format" type="descriptionFormat"/>
	      </xsd:extension>
	     </xsd:simpleContent>
	     </xsd:complexType>
	     </xsd:element>
    </xsd:all>

    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Descriptive name of the surface.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="location" type="locationEnumType" default="zippath">
    <xsd:annotation xml:lang="en">
	<xsd:documentation>
	Location either in the ZIP file ("zippath", default),
	the "filesystem" or an "URL.		
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="fileformat" type="surfaceFileFormat">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Set to "gifti" to use the only supported Gifti format by cfflib.
      See http://www.nitrc.org/frs/download.php/158/gifti.xsd for schema information
      
      Use "Other" for other formats with custom IO Handling
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="dtype" type="surfaceEnumDType">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      What type of surface does the Gifti file contain:
      - type="label"
      The Gifti file contains surface labels. This file can be referenced
      in connectome-network with either the name attribute or in addition to another
      surface defined by name and using the labelname attribute and matching labelid. If
      referenced in such a way, the networks' nodes attribute dn_intensityvalue value
      may match the label array integers, thereby relating a network node to a surface
      patch (a region of interest defined on the surface). See also example datasets.
      - type="surfaceset"
      The Gifti file contains a set of surfaces where the metadata tag AnatomicalStructurePrimary match.
      Individual elements of the set are distinguished by the metadta tag AnatomicalStructureSecondary.
      The Gifti file contains information about the coordinate system used.
      - type="surfaceset+label"
      If the Gifti file contains data as described for both surfaceset and label above.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
</xsd:complexType>


<xsd:complexType name="CVolume">
     <xsd:all>
	    <xsd:element minOccurs="0" name="description">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     <xsd:complexType>
	     <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
		 <xsd:attribute name="format" type="descriptionFormat"/>
	      </xsd:extension>
	     </xsd:simpleContent>
	     </xsd:complexType>
	     </xsd:element>
    </xsd:all>
    
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Name of the volume.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="location" type="locationEnumType" default="zippath">
    <xsd:annotation xml:lang="en">
	<xsd:documentation>
	Location either in the ZIP file ("zippath", default),
	the "filesystem" or an "URL.		
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="fileformat" type="volumeFileFormat" default="Nifti1">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Set to "Nifti1" to use the only supported Nifti format. This works also
      for compressed files with name ending .nii.gz
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="dtype" type="volumeEnumDType">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The Nifti file contains information about the coordinate system used.
      Set type of volume the Nifti file contains:
      - type="segmentation"
      The Nifti file contains a single volume where the voxel values are integers,
      representing a segmented Region of Interest. If this volume is referenced by
      a connectome-network, its nodes dn_intensityvalue attribute may match these
      integer values. Such a segmentation volume can referenced in a connectome-volume
      by the segmentationname attribute in addition to another, e.g. T1-weighted volume
      which is referenced by the name attribute. See also example datasets.
      - type="T1-weighted"
      The Nifti file contains a T1-weighted volume.
      - type="T2-weighted"
      The Nifti file contains a T2-weighted volume.
      - type="PD-weighted"
      The voxel values represent a proton-density weighted signal.
      - type="fMRI"
      The Nifti file contains functional MRI time series data.
      - type="probabilitymap"
      Voxel values are in the range [0,1]. Can stand for tissue probability maps.
      - type="MD"
      Diffusion-related signal. Stands for mean diffusivity.
      - type="FA"
      Diffusion-related signal. Stands for fractional anisotropy.
      - type="LD"
      Diffusion-related signal. Stands for longitudinal diffusivity.
      - type="TD"
      Diffusion-related signal. Stands for transversal diffusivity.
      - type="FLAIR"
      Stands for Fluid attenuated inversion recovery 
      - type="MRA"
      Stands for Magnetic resonance angiography
	  - type="MRS"
	  Stands for Magnetic resonance spectroscopy
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
 
</xsd:complexType>


<xsd:complexType name="CTrack">

  <xsd:all>
	    <xsd:element minOccurs="0" name="description">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     <xsd:complexType>
	     <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
		 <xsd:attribute name="format" type="descriptionFormat"/>
	      </xsd:extension>
	     </xsd:simpleContent>
	     </xsd:complexType>
	     </xsd:element>
  </xsd:all>
  
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Name of the track file.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="location" type="locationEnumType" default="zippath">
    <xsd:annotation xml:lang="en">
	<xsd:documentation>
	Location either in the ZIP file ("zippath", default),
	the "filesystem" or an "URL.		
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="fileformat" type="trackFileFormat" default="TrackVis">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Set to "TrackVis" (default) to use the only supported TrackVis file format.
      The TrackVis file format allows to store any number of additional numerical
      data on the individual fibers.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
</xsd:complexType>

<xsd:complexType name="CTimeserie">

  <xsd:all>
	    <xsd:element minOccurs="0" name="description">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     <xsd:complexType>
	     <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
		 <xsd:attribute name="format" type="descriptionFormat"/>
	      </xsd:extension>
	     </xsd:simpleContent>
	     </xsd:complexType>
	     </xsd:element>
  </xsd:all>
  
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Name of the timeseries.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="location" type="locationEnumType" default="zippath">
    <xsd:annotation xml:lang="en">
	<xsd:documentation>
	Location either in the ZIP file ("zippath", default),
	the "filesystem" or an "URL.		
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="fileformat" type="timeserieFileFormat" default="HDF5">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Set to "HDF5" (default) to use the only supported Hierarchical Data File format.
      The HDF5 allows to store any number of time series or other large homogeneous data.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
</xsd:complexType>


<xsd:complexType name="CData">

  <xsd:all>
	    <xsd:element minOccurs="0" name="description">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     <xsd:complexType>
	     <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
		 <xsd:attribute name="format" type="descriptionFormat"/>
	      </xsd:extension>
	     </xsd:simpleContent>
	     </xsd:complexType>
	     </xsd:element>
  </xsd:all>
  
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Name of the data file
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="location" type="locationEnumType" default="zippath">
    <xsd:annotation xml:lang="en">
	<xsd:documentation>
	Location either in the ZIP file ("zippath", default),
	the "filesystem" or an "URL.		
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="fileformat" type="dataFileFormat">
    <xsd:annotation xml:lang="en">
       <xsd:documentation>
	Use one of 'NumPy', 'HDF5', 'XML', 'Other'
	
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
</xsd:complexType>


<xsd:complexType name="CScript">

  <xsd:all>
	    <xsd:element minOccurs="0" name="description">
	     <xsd:annotation xml:lang="en">
	       <xsd:documentation>
	       A description according to the format attribute syntax.
	       </xsd:documentation>
	     </xsd:annotation>
	     <xsd:complexType>
	     <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
		 <xsd:attribute name="format" type="descriptionFormat"/>
	      </xsd:extension>
	     </xsd:simpleContent>
	     </xsd:complexType>
	     </xsd:element>
  </xsd:all>
  
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Name of the script file
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="src" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The path to the file according to location attribute
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="location" type="locationEnumType" default="zippath">
    <xsd:annotation xml:lang="en">
	<xsd:documentation>
	Location either in the ZIP file ("zippath", default),
	the "filesystem" or an "URL.		
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="type" type="scriptEnumType" default="Python">
    <xsd:annotation xml:lang="en">
       <xsd:documentation>
	What kind of script. Use one of "Python" (default), "Bash", "Matlab",
	or "Other".
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    
</xsd:complexType>

<xsd:complexType name="Metadata">
  <xsd:all>
    <xsd:element minOccurs="0" name="data">
    
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      A data element contains a key attribute and the value as tag
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
            <xsd:attribute name="key" type="xsd:string">
            <xsd:annotation xml:lang="en">
              <xsd:documentation>
              The key to be used later in the dictionary
              </xsd:documentation>
            </xsd:annotation>
            </xsd:attribute>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
    
    </xsd:element>
    
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="NetworkSurface">    
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The name of the surface as reference to an existing connectome-surface
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="labelname" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Optional together with labelid. The name of the another surface as reference to an existing connectome-surface
      that contains the label array. Always use in conjunction with labelid. This can
      be used for a separate Gifti file containing e.g. only label information.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="labelid" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The labelid tag name that contains the labeling of the surface reference
      by name. The referenced surface file must contain NIFTI_INTENT_LABEL intent
      with the matching labelid in the metadata. Number of vertices of the
      referenced surface and the label array dimension must match (one label for
      each vertices)
      
      XXX: Probably better to use the LabelTable tag in Gifti?
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="NetworkVolume">    
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The name of the volume as reference to an existing connectome-volume.
      The connectome-volume can be of any dtype.
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="segmentationname" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      Optional. The name of a connectome-volume that has dtype=segmentation. It specifies
      a segmentation of the volume referenced by name. The voxel dimensions have to match.
    </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="NetworkTrack">    
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The name of the track as reference to an existing connectome-track
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="NetworkTimeserie">    
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The name of the timeserie as reference to an existing connectome-timeserie
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="NetworkData">    
    <xsd:attribute name="name" type="xsd:string">
    <xsd:annotation xml:lang="en">
      <xsd:documentation>
      The name of the data object as reference to an existing connectome-data
      </xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>

